

#col1
  #image_container
    = image_tag "pink_dawn.jpg"
  photo will go here

#col3
  #col3a
    %div{:style => "width:300px"}
      = render :partial => 'layouts/twitter_widget'  
  #col3b
    #grid_wrapper
      latest images
      #flickr-div
   
  #col3c
    featured
%div{:style=>"clear:both;"}
#col2
  #col2a
    news
  #col2b
    spotlight

  