

#col1
  #image_container
    = image_tag "pink_dawn.jpg"
  photo will go here

#col3

  #col3a
    #grid_wrapper
      %h3 Latest Images
      #flickr-div
       
   
  #col3c
    %h3 Featured Image
    %p
      Each month I am going to feature a new image and
      give you some information behind it, how I made the image and why.
      Hopefully you will find this an interesting insight into
      how I see and make an image.
  #col3b
    %h3 Twitter Feed
    %div
      = render :partial => 'layouts/twitter_widget'
      
%div{:style=>"clear:both;"}
#col2
  #col2a
    news
  #col2b
    spotlight

  