%h1.entry-header Workshops
					
%p We have something to suit everyone:

%p Weekend Workshops – for those who just can’t get away for longer.

%p 3 day Workshops – the extra day is perfect for including a little image processing instruction.

%p 5 day Workshops – imerse yourself in your photography for a whole 5 days with lots of photography, lots of instruction and lots of fun.
