%h1 Editing photo

%p Tell me how you want to edit photos, perhaps something could be done about it. Perhaps some tag editing stuff can go here.

= link_to 'Show', @photo
\|
= link_to 'Back', photos_path
