// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  
#col1{//border:solid red 1px;
  min-height:100px;
  img{margin:auto;
    display:block;
  }}

#col3{border:none green 1px;
  div{width:250px;
    min-height:300px;
    }
  }
#col3a{margin-left:0px;
  float:left;
  //background:red;
  }
#col3b{margin-left:105px;
  width:250px;
  float:left;
  //background:green;
  }    
#col3c{margin-left:0px;
  float:right;
  line-height: 22px;
  //background:blue;
  }


#col2{//border:solid blue 1px;
  nargin:1em 0em;
    div{min-height:100px;}}
#col2a{//background:blue;
  margin:1em 0px;
  float:left;
  width:450px;
  }
#col2b{//background:green;
  margin:1em 0px;
  float:right;
  width:450px;
  }

#grid_wrapper{}
  
#flickr-div{
  a{margin:0px;
    text-decoration:none;
    img{
      }
    }
  a.col0{
    //border:solid red 1px;
    margin:0px 2px 0px 0px;  
    float:left;
  }
  a.col1{
    //border:solid red 1px;
    margin:0px 2px 0px 0px;
    float:left;
    }
  a.col2{
    //border:solid red 1px;
    margin:0px 0px 0px 0px;
    float:left;
    }
  }

#footer_area{clear:both;
  min-height:5px;
  width:100%;
  background:red;
  position:relative;
  float:left;
  div{width:340px;
    display:inline-block;
    }
  div.col1{background:#333;
    float:left;	
    }
  div.col2{background:#555;
    float:left;	
    }
  div.col3{background:#777;
    float:right;
    }
}