// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  
#col1{//border:solid red 1px;
  min-height:100px;
  img{margin:auto;
    display:block;
  }}

#col3{border:none green 1px;
  div{width:250px;
    min-height:300px;
    }
  }
#col3a{margin-left:0px;
  float:left;
  //background:red;
  }
#col3b{margin-left:105px;
  width:250px;
  float:left;
  //background:green;
  }    
#col3c{margin-left:0px;
  float:right;
  line-height: 22px;
  //background:blue;
  }


#col2{//border:solid blue 1px;
  nargin:1em 0em;
    div{min-height:100px;}}
#col2a{//background:blue;
  margin:1em 0px;
  float:left;
  width:450px;
  }
#col2b{//background:green;
  margin:1em 0px;
  float:right;
  width:450px;
  }

#grid_wrapper{}
  
#flickr-div{
  a{margin:0px;
    text-decoration:none;
    img{
      }
    }
  a.col0{
    //border:solid red 1px;
    margin:0px 2px 0px 0px;  
    float:left;
  }
  a.col1{
    //border:solid red 1px;
    margin:0px 2px 0px 0px;
    float:left;
    }
  a.col2{
    //border:solid red 1px;
    margin:0px 0px 0px 0px;
    float:left;
    }
  }

#footer_area{clear:both;
  min-height:5px;
  width:100%;
  background:black;
  color:white;
  position:relative;
  float:left;
  div{width:160px;
    display:inline-block;    
    }
  div.col1{//background:#333;
    width:260px;
    float:left;
    p{  line-height:20px;}
    margin-left:20px;
    }
  div.col2{//background:#555;
    width:160px;
    margin-left:70px;
    span{line-height:70px;}
    img{float:right}
    }
  div.col3{//background:#777;
    width:440px;;
    float:right;
    ul{padding-left:0px;
      margin-right:1em;
        }
    li{padding-left:0em;
      list-style-type:none;
        p{font-size:0.75em;
          }
        }  
    }
    div.time{}
}