// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table#photo_grid{
  td{
    border:none 1px;
  div{text-align:center;
    background:#eee;
    width: 225px;
    height: 150px;
    line-height:150px;
    overflow: hidden;
    position:relative;
    border:solid #fafafa 2px;
    img{vertical-align:middle;
      border:solid #eee 3px;
 
        }
      }
  div.left{//border:solid red 1px;
    }
  div.center{//border:solid green 1px;
      }
  div.right{//border:solid blue 1px;
    }
    }
    }