
#menu
  %ul
    %li
      %a{:href => "#"} HOME PAGE
      %ul
        %li
          %a{:href => "#"} Has Submenu
          %ul
            %li
              %a{:href => "#"} Has Submenu
              %ul
                %li
                  %a{:href => "#"} Submenu 1
                %li
                  %a{:href => "#"} Submenu 2
                %li
                  %a{:href => "#"} Submenu 3
                %li
                  %a{:href => "#"} Submenu 4
            %li
              %a{:href => "#"} Submenu 2
            %li
              %a{:href => "#"} Has Submenu
              %ul
                %li
                  %a{:href => "#"} Submenu 1
                %li
                  %a{:href => "#"} Submenu 2
                %li
                  %a{:href => "#"} Submenu 3
                %li
                  %a{:href => "#"} Submenu 4
            %li
              %a{:href => "#"} Submenu 4
        %li
          %a{:href => "#"} Submenu 2
        %li
          %a{:href => "#"} Has Submenu
          %ul
            %li
              %a{:href => "#"} Has Submenu
              %ul
                %li
                  %a{:href => "#"} Submenu 1
                %li
                  %a{:href => "#"} Submenu 2
                %li
                  %a{:href => "#"} Submenu 3
                %li
                  %a{:href => "#"} Submenu 4
            %li
              %a{:href => "#"} Submenu 2
            %li
              %a{:href => "#"} Has Submenu
              %ul
                %li
                  %a{:href => "#"} Submenu 1
                %li
                  %a{:href => "#"} Submenu 2
                %li
                  %a{:href => "#"} Submenu 3
                %li
                  %a{:href => "#"} Submenu 4
            %li
              %a{:href => "#"} Submenu 4
        %li
          %a{:href => "#"} Submenu 4
    %li
      %a{:href => "#"} ABOUT ME
      %ul
        %li
          %a{:href => "#"} Submenu 1
        %li
          %a{:href => "#"} Submenu 2
        %li
          %a{:href => "#"} Submenu 3
        %li
          %a{:href => "#"} Submenu 4
    %li
      %a{:href => "#"} WORKSHOPS
    %li
      %a{:href => "#"} PERSONAL TUITION
      %ul
        %li
          %a{:href => "#"} Submenu 1
        %li
          %a{:href => "#"} Submenu 2
        %li
          %a{:href => "#"} Submenu 3
        %li
          %a{:href => "#"} Submenu 4
    %li
      %a{:href => "#"} TALKS
    %li
      %a{:href => "#"} GALLERIES
    %li
      %a{:href => "#"} NEWS
    %li
      %a{:href => "#"} CONTACT

%p &nbsp;      